:root {
    --Menu-Color: #040D12;
    --Main-Color: #183D3D;
    --Accent-1: #5C8374;
    --Accent-2: #93B1A6;
}


body {
    position: relative;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--Menu-Color);
}

header {
    position: unset;

    height: 9vh;

    background-color: var(--Menu-Color);
}

.site {
    display: flex;
    grid-template-columns: 1fr 1fr;

    padding-left: 0.5em;

    height: 4.5em;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    height: inherit;
}
.logo img {
    height: 3.5em;
}
.site-title {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: inherit;
    padding-left: 0.1em;
    
    font-size: 4em;
    font-weight: lighter;
    color: var(--Accent-2);
}


main {
    display: flex;
    
    min-height: 89vh;
    
    background-color: var(--Main-Color);
}


.sidebar {
    display: flex;
    justify-content: center;

    width: 20vw;
    
    color: #FFFFFF;
    background-color: var(--Accent-1);
}
.sidebar div {
    transform: translateX(-5em);
}
.nav-item a{
    text-decoration: none;
    color: #FFFFFF;
}
.site-link {
    text-decoration: none;
    color: #FFFFFF;
    background-color: var(--Accent-2);

    border-radius: 1em;

    padding: 1em;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80vw;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 55em;
}
.text h3 {
    text-align: center;
    max-width: 70ch;
}
.text hr {
    width: inherit;
}

/* About Manager */
.lists {
    display: flex;
}
.vertical-line {
    width: 0.1em;
    min-height: 15em;
    max-height: none;

    margin-left: 1em;
    margin-right: 1em;

    background-color: var(--Accent-2);
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 20em;

    h3 {
        color: var(--Accent-2);
    }
}


.add-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 10em;
    height: 3em;

    font-size: 1.2em;

    background-color: var(--Accent-2);
    border-radius: 10%;

    margin-top: 2em;
}
.add-button:hover {
    cursor: pointer;
}


.add-entry {
    display: none;
    position: fixed;
    overflow: auto;

    z-index: 1;
    left: 50;
    top: 50;
    transform: translate(-50%, -50%);

    width: fit-content;
    height: fit-content;
    padding: 1em 1em 1em 1em;

    background-color: #0000005F;
    color: var(--Accent-2);
    border: solid 0.2em var(--Accent-2);
    border-radius: 2em;
}

.modal-content {
    display: flex;
    gap: 1em;
}

.close {
    padding: 0.5em 0.5em 0.5em 0.5em;

    height: 3em;
    width: 3em;

    background-color: #FF0000;
    border-radius: 20%
}
.close:hover {
    cursor: pointer;
}

.form-title {
    display: flex;
    flex-direction: column;
}
.form-text {
    display: flex;
    flex-direction: column;
}


/* Messages */
.messages {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 55em;
}
.message-entry {
    width: 40em;
}



footer {
    background-color: var(--Menu-Color);

    height: 2vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-contact {
    color: var(--Accent-1);
    text-decoration: none;

    font-size: 2em;
    padding-right: 3em;

    transition: 0.5s;
}
.footer-contact:hover {
    color: var(--Accent-2);
}
.footer-github {
    color: var(--Accent-1);
    text-decoration: none;

    font-size: 2em;
    padding-left: 3em;
    
    transition: 0.5s;
}
.footer-github:hover {
    color: var(--Accent-2);
}