body {
    font-family: 'Noto Sans', sans-serif;
}

header {
    display: flex;
    align-items: end;

    img {
        width: 5rem;
        height: 5rem;
    }
    h1 {
        margin: 0;
        font-size: 2rem;
        font-weight: 300;
    }
}

main {
    h1 {
        font-weight: 200;
    }
}