{% extends "index.html" %}

{% block content %}
<h1> About Me </h1>
<div class="content">
    <div class="who">
        <h3> Who Am I? </h3>
        {% for entry in who_entries %}
            {% if entry.isActive %}
            <hr>
            <p class="entry-title">{{ entry.title  }}:</p>
            <p class="entry-text">{{ entry.text }}</p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="what">
        <h3> What Do I Do? </h3>
        {% for entry in what_entries %}
            {% if entry.isActive %}
            <hr>
            <p class="entry-title">{{ entry.title  }}:</p>
            <p class="entry-text">{{ entry.text }}</p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="how" id="how">
        <h3> Contact Me </h3>
        
        <div class="contact">
            <form action="{{ url_for('about.contact') }}" method="post">
                <div class="form-name form">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Your name..">
                </div>

                <div class="form-mail form">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="Your email..">
                </div>

                <div class="form-message form">
                    <label for="message">Subject</label>
                    <textarea id="message" name="message" placeholder="Write your message.."></textarea>
                </div>

                <input type="submit" value="Send">
            </form>
        </div>
    </div>
</div>
{% endblock %}