{% extends "cms.html" %}

<!-- About Me manager -->
{% block cms_content %}
<div class="content">
    <div class="text">
        <h1>About Me</h1>
        <h3>Manage entries for the about me page</h3>

        <hr>
    </div>

    <!-- List Entries -->
    <div class="lists">
        <div class="who list">
            <h3>Who am I?</h3>
            <ul>
                {% for entry in who_entries %}
                <li class="who-entry">
                    {{ entry.title }}
                    <span>
                        <button class="edit" data-id="{{ entry.id }}">Edit</button>
                        {% if entry.isActive %}
                        <button class="deactivate">Deactivate</button>
                        {% else %}
                        <button class="activate">Activate</button>
                        {% endif %}
                        <button class="delete">Delete</button>
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="vertical-line"></div>

        <div class="what list">
            <h3>What do I do?</h3>
            <ul>
                {% for entry in what_entries %}
                <li class="what-entry">
                    {{ entry.title }}
                    <span>
                        <button class="edit" data-id="{{ entry.id }}">Edit</button>
                        <button class="delete">Delete</button>
                        {% if entry.isActive %}
                        <button class="deactivate">Deactivate</button>
                        {% else %}
                        <button class="set-active">Set Active</button>
                        {% endif %}
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Add New Content -->
    <button class="add-button" onclick="modal()">
        Add New Content
    </button>
    <div class="add-entry" id="add-modal">
        <div class="modal-content">
            <h1>Add New Content</h1>
            <div class="close" onclick="closeModal()">
                    <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 490 490" xml:space="preserve">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <polygon points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490 489.292,457.678 277.331,245.004 489.292,32.337 "></polygon>
                        </g>
                    </svg>
            </div>
        </div>
        <hr>
        <div class="forms">
            <form action="{{ url_for('cms.add_content') }}" method="post" id="contentForm">
                <!-- Title Input -->
                <div class="form-title">
                    <label for="title" class="form-label">Title (like your name)</label>
                    <input type="text" class="form-control" name="title" placeholder="Enter Title">
                </div>

                <!-- Text Input -->
                <div class="form-text">
                    <label class="form-label" for="text">Text</label>
                    <textarea class="form-control" name="text" placeholder="Write something about yourself"></textarea>
                </div>

                <!-- Is Active -->
                <div class="form-active">
                    <label for="isActive">Set as Active</label>
                    <input class="is-active" type="checkbox" name="isActive">
                </div>

                <!-- Choose list -->
                <div>
                    <label for="what-do">Add to "What do I do?" instead of "Who am I?"</label>
                    <input class="what-do" type="checkbox" name="what-do">
                    <!-- Change this to radio instead of checkbox -->
                </div>

                <!-- Submit -->
                <input type="submit" value="Add">
            </form>
        </div>
    </div>
</div>
{% endblock %}