{% extends "cms.html" %}

<!-- Messages viewer/manager -->
{% block cms_content %}
<div class="content">
    <div class="text">
        <h1>Messages</h1>
        <h3>See messages from the contact form</h3>

        <hr>
    </div>

    <!-- List Entries -->
    <ul class="messages">
        {% for message in messages %}
        <li class="message-entry">
            <p class="id">ID: {{ message.id }}</p>
            <h3 class="name">{{ message.name }}</h3>
            <p class="mail">{{ message.email }}</p>
            <p class="message">{{ message.message }}</p>
            <form action="{{ url_for('cms.delete_message') }}" method="post">
                <input type="hidden" value="{{ message.id }}" name="id">
                <input class="delete" type="submit" value="Delete">
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}