<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        
        <!-- Change which css file is loaded depending on endpoint -->
        {% if request.endpoint == 'home.home' %}
            <link rel="stylesheet" href="../static/css/home.css">
        {% elif request.endpoint == 'about.about' %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
        {% elif request.endpoint == 'code.code' %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/code.css') }}">
        {% endif %}

        <link rel="icon" href="{{ url_for('static', filename='images/sitewide/Octocat.png') }}" type="image/png">
        <title>{{ title }}</title>
    </head>


    <body>
        <header>
            <div class="header">
                <div class="site">
                    <div class="logo"><img src="{{ url_for('static', filename='images/sitewide/Octocat.png') }}" alt="Site logo"></div>
                    <div class="site-title">Site</div>
                </div>

                <div class="nav">
                    <nav>
                        <ul>
                            <li class="nav-item"> <a href="{{ url_for('home.home') }}">Home</a> </li>
                            <li class="nav-item"> <a href="{{ url_for('about.about') }}">About me</a> </li>
                            <li class="nav-item"> <a href="{{ url_for('code.code') }}">Code</a> </li>
                            <li class="nav-item"> <a href="../Photo/index.html">Photography</a> </li>
                        </ul>
                    </nav>
                </div>

                <div class="menu-button" onclick="menu()">
                    <div class="menu-line-1"></div>
                    <div class="menu-line-2"></div>
                    <div class="menu-line-3"></div>
                </div>
            </div>
            <div class="menu">
                <p class="menu-text">MENU</p>
                <ul>
                    <li class="menu-item"> <a href="{{ url_for('cms.cms') }}">CMS</a> </li>
                    <li class="menu-item"> <a href=""></a> </li>
                    <li class="menu-item"> <a href=""></a> </li>
                    <li class="menu-item"> <a href=""></a> </li>
                </ul>
            </div>
        </header>


        <main>
            <!-- Content from templates (Home, AM, Code, Photo) -->
            {% block content %}
            
            {% endblock %}
        </main>


        <footer>
            <div class="foot-container">
                <a class="footer-contact" href="{{ url_for('about.about') }}#how">Contact</a>
                <a class="footer-github" href="https://github.hardo.dev" target="_blank">GitHub</a>
            </div>
        </footer>
        
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>