<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="style.css">

        <title></title>
    </head>


    <body>
        <header>
            <h1>Login</h1>
        </header>

        <main>
            <div>
                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="password">
                    <input type="checkbox" name="remember">
                    <input type="submit" name="login" value="login">
                </form>
            </div>
        </main>

        <footer>
            <h1>Login</h1>
        </footer>
    </body>


    <script src="script.js"></script>
</html>